<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Document</title>
  <script src='../libs/angular.min.js'></script>
</head>

<body ng-app='app'>
  <div ng-controller="ctrl">
    <input type="text" ng-model="str">
    <button ng-click='change()'>点击</button>
   <div> {{result}}</div>
    
  </div>
</body>
<script>
  var app = angular.module('app', []);
  app.controller("ctrl",function($scope,$http){
    $scope.change=function(){
      $http({
        url:"./data5.php"
      }).success(function(result){
        if($scope.str=='M'){
          $scope.result=result;
        }else if($scope.str=='F'){
          $scope.result=result;
        }else{
          $scope.result=$scope.str;
        }
         
       
      });
        
      
    }
  })
</script>

</html>